* {
    margin: 0px;
    padding: 0px;
}
.max-container {
    padding: 2rem;
    margin: auto;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h4 {
    font-family: Helvetica;
    font-size: 16px;
}
h5 {
    font-family: Helvetica;
    font-weight: 550;
    font-size: 13px;
    padding-top: 16px;
}
.checkout {
    padding-top:2rem ;
    font-family: Helvetica;
}
.demo-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    color: grey;
}
.discription {
    font-size: 13px;
    font-weight: 10;
}
.first-section {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}
input {
    width: 100%;
    border: 0.4px solid rgb(180, 178, 178);
    border-top: none;
    border-left: none;
    border-right: none;
    outline: 0;
}
.container {
    position: relative;
    padding-top: 2.5rem;
}
.label-info {
    position: absolute;
    font-family: Helvetica;
    font-size: 18px;
    top: 2rem;
    left: 0;
    color: gray;
    transition: all 0.3s ease;
}
.container input:focus ~ .label-info,
.container input:valid ~ .label-info {
    transform: translateY(-20px);
    font-size: 10px;
    color: black;
}
.state-zip-pin {
    display: flex;
    gap: 1vw;
}
select {
    width: 40%;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
}
.select-country {
    width: 100%;
    font-size: 17px;
}
:focus {
    outline: none;
}
.visible {
    padding-top: 20px;
}
.shipping-address {
    display: none;
}
.country {
    padding-top: 20px;
    padding-bottom: 10px;
}
#check:checked {
    & + label + .shipping-address{
        display:flex;
        flex-direction: column;
        /* column-gap: 2vh; */
    }
}
#check {
    width: 10%;
    height: 20px;
}
#different-billings {
    font-family: Helvetica;
    font-size: 17px;
}
.state-zip-codes {
    display: flex;
    padding-top: 2vh;
    padding-bottom: 1vh;
    gap: 1vw;
}
.payment-section {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    padding-bottom: 5rem;
}
.year-month {
    display: flex;
    gap: 4px;
    background-color: white;
}
label {
    font-family: Helvetica;
    font-size: 13px;
}
.item-cost {
    display: flex;
    justify-content: space-between;
}
.total-cost {
    display: flex;
    justify-content: space-between;
}
button {
    padding: 1.5rem 9rem;
    background-color: #213863;
    color: white;
    font-size: 1rem;
    position: fixed;
    bottom: 0px;
    align-self: center;
}
@media (min-width:1024px) {
    .max-container {
        max-width: 1300px;
        padding: 4rem;
        margin: auto;
    }
    .header-container {
        padding: 0px;
        display: block;
        position: relative;
    }
    h4 {
        font-size: 17px;
        font-weight: 550;
        position: absolute;
        left: 47%;
    }
    .fa-bars {
        display: none;
    }
    .fa-cart-shopping {
        position: absolute;
        left: 98%;
    }
    form {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .first-section {
        padding: 2rem;
        grid-area: 1/1/3/2;
    }
    label {
        font-size: 14px;
    }
    .payment-section {
        padding: 2rem;
        grid-area: 1/2/2/3;
        gap: 0.9rem;
    }
    button {
        background-color: white;
        color: black;
        position: relative;
        padding: 0.5rem 2.5rem;
        align-self: flex-start;
    }
}